<div class="container-fluid" style="margin-top:80px;">
    <div class="col-lg-1">

    </div>
    <div class="col-lg-10">
        <!-- Bar -->
        <div class="box box-info" ng-init="test1()">
            <div class="box-header with-border" style="text-align:center">
                <h5 class="box-title">Bar</h5>
                <!--<div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                    <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: block;">
                <div class="col-lg-12">
                    <a href="charts/barvertical.html" class="btn btn-success">How to use?</a>
                    <button ng-click="pngindir('graph')" class="btn btn-info btn-sm pull-right" style="margin-top:3px;margin-right:5px;"><span class="fa fa-download" /> Png</button>
                    <button ng-click="svgindir('graph')" class="btn btn-info btn-sm pull-right" style="margin-top:3px;margin-right:5px;"><span class="fa fa-download" /> Svg</button>
                    <button ng-click="test1()" class="btn btn-info btn-sm pull-right" style="margin-top:3px;margin-right:5px;"><span class="fa fa-refresh" /></button>
                    <br/>
                    <br/>
                    <br/>
                </div>
                <div class="col-lg-12">
                    <div id="graph">
                        <svg></svg>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->

        </div>
        <!-- Bar Horizontal-->
        <div class="box box-info" ng-init="test1()">
            <div class="box-header with-border" style="text-align:center">
                <h5 class="box-title">Bar</h5>
                <!--<div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                    <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: block;">
                <div class="col-lg-12">
                    <a href="charts/barhorizontal.html" class="btn btn-success">How to use?</a>
                    <button ng-click="pngindir('graph2')" class="btn btn-info btn-sm pull-right" style="margin-top:3px;margin-right:5px;"><span class="fa fa-download" /> Png</button>
                    <button ng-click="svgindir('graph2')" class="btn btn-info btn-sm pull-right" style="margin-top:3px;margin-right:5px;"><span class="fa fa-download" /> Svg</button>
                    <button ng-click="test1()" class="btn btn-info btn-sm pull-right" style="margin-top:3px;margin-right:5px;"><span class="fa fa-refresh" /></button>
                    <br/>
                    <br/>
                    <br/>
                </div>
                <div class="col-lg-12">
                    <div id="graph2">
                        <svg></svg>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>

        <!-- Box -->
        <div class="box box-info" ng-init="test1()">
            <div class="box-header with-border" style="text-align:center">
                <h5 class="box-title">Box</h5>
                <!--<div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                    <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: block;">
                <div class="col-lg-12">
                    <a href="charts/box.html" class="btn btn-success">How to use?</a>

                    <button ng-click="pngindir('graph3')" class="btn btn-info btn-sm pull-right" style="margin-top:3px;margin-right:5px;"><span class="fa fa-download" /> Png</button>
                    <button ng-click="svgindir('graph3')" class="btn btn-info btn-sm pull-right" style="margin-top:3px;margin-right:5px;"><span class="fa fa-download" /> Svg</button>
                    <button ng-click="test1()" class="btn btn-info btn-sm pull-right" style="margin-top:3px;margin-right:5px;"><span class="fa fa-refresh" /></button>
                    <br/>
                    <br/>
                    <br/>
                </div>
                <div class="col-lg-12">
                    <div id="graph3">
                        <svg></svg>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>

        <!--Error-->
        <div class="box box-info" ng-init="test1()">
            <div class="box-header with-border" style="text-align:center">
                <h5 class="box-title">Error</h5>
                <!--<div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                    <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: block;">
                <div class="col-lg-12">
                    <a href="charts/error.html" class="btn btn-success">How to use?</a>

                    <button ng-click="pngindir('graph4')" class="btn btn-info btn-sm pull-right" style="margin-top:3px;margin-right:5px;"><span class="fa fa-download" /> Png</button>
                    <button ng-click="svgindir('graph4')" class="btn btn-info btn-sm pull-right" style="margin-top:3px;margin-right:5px;"><span class="fa fa-download" /> Svg</button>
                    <button ng-click="test1()" class="btn btn-info btn-sm pull-right" style="margin-top:3px;margin-right:5px;"><span class="fa fa-refresh" /></button>
                    <br/>
                    <br/>
                    <br/>
                </div>
                <div class="col-lg-12">
                    <div id="graph4">
                        <svg></svg>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>

        <!--Line-->
        <div class="box box-info" ng-init="test1()">
            <div class="box-header with-border" style="text-align:center">
                <h5 class="box-title">Line</h5>
                <!--<div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                    <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: block;">
                <div class="col-lg-12">
                    <a href="charts/line.html" class="btn btn-success">How to use?</a>

                    <button ng-click="pngindir('graph5')" class="btn btn-info btn-sm pull-right" style="margin-top:3px;margin-right:5px;"><span class="fa fa-download" /> Png</button>
                    <button ng-click="svgindir('graph5')" class="btn btn-info btn-sm pull-right" style="margin-top:3px;margin-right:5px;"><span class="fa fa-download" /> Svg</button>
                    <button ng-click="test1()" class="btn btn-info btn-sm pull-right" style="margin-top:3px;margin-right:5px;"><span class="fa fa-refresh" /></button>
                    <br/>
                    <br/>
                    <br/>
                </div>
                <div class="col-lg-12">
                    <div id="graph5">
                        <svg></svg>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>

    </div>
    <div class="col-lg-1">

    </div>
</div>